<div class="box__login__text">
   
    Como seus dados ficam <br/> salvos no banco?
</div>
<article>
    <table class="box__login__forms">
        <tr>
            <th>id</th>
            <th>user</th>
            <th>password</th>
        </tr>
        <tr>
            <td>
                {{id}}
                <span class="n1"></span>
                <span class="n2"></span>
                <span class="n3"></span>
                <span class="n4"></span>
            </td>
            <td>
                {{nome}}
                <span class="n1"></span>
                <span class="n2"></span>
                <span class="n3"></span>
                <span class="n4"></span>
            </td>
            <td>
                <div class="hash">
                    <p>
                        {{pass}}
                    </p>
                </div>
                <span class="n1"></span>
                <span class="n2"></span>
                <span class="n3"></span>
                <span class="n4"></span>
            </td>
        </tr>
    </table>   
</article>

