article{
    height: 85%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.box__login__forms{
    background-color: #211c1c;
    padding:20px;
    box-shadow: 0px 0px 10px #211c1c52;
    color: white;
    
}
.box__login__forms input{
    border: 0px;
    padding:10px;
    outline: none;
    color: white;
    transition: 1s all linear;
    background-color: #463e3e56;
    font-weight: bold;
    
}
.box__login__forms div{
    margin: 10px;
    height:50px;
    position: relative;
    overflow: hidden;
}
.box__login__forms div:hover :nth-child(2){    
    animation: input 3s ease-in infinite;
    width:100%;
    height:3px;
    background:linear-gradient(90deg,transparent,#CC0000);
    box-shadow: 0px 0px 10px #CC0000;
    margin-left: -200px;    
    display: block;        
}
.box__login__forms div:hover input{
    background-color: #463e3ecb;
    box-shadow: 0px 0px 5px #463e3ecb;
}



@keyframes input {
    0%{
        margin-left: -200px;
        
    }
    50%,100%{
        position: absolute;
        margin-left: 400px;
    }
}





.box__login__text{
    
    font-size: 34px;
    font-weight: 100;
    line-height: 42px;
    align-self: flex-start;
    margin-left: 30px;
    padding-top: 30px;
    opacity: .5;
    text-shadow: 0px 0px 10px white;
    color:white;
}
a{
    color:rgba(63, 63, 243, 0.425);
    font-weight: 100;
    text-decoration: none;

}
.button{
    cursor: pointer;
}