<main fxLayout="row" fxLayoutAlign="space-between center">

    <div class="box__welcome">
        <article>
            <label class="box__welcome__text">
                <h1>Login JWT</h1>
                <p>Um exemplo funcional de um login seguro</p>
                <span>Usando Criptografia SHA256 + Salt e JWT(JSON Web Token)</span><br/>
                
            </label>            
        </article>
    </div>
    <div class="box__login">
        <router-outlet></router-outlet>
        
    </div>

</main>